:root{
    --PrimaryColor : #18599C ;
    --SecondColor : #D14A37 ;
}
body{
    margin: 0;
    padding: 0;
    height: 100dvh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile */
@media (min-width: 768px) {
    .container {
      width: 850px;
    }
  }
  /* tablet */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }

  }
  /* desktop */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}