 @media screen and (min-width: 769px) and (max-width:  1200px) {
    .container{
        margin-inline: auto;
      }
    h2{
        font-size: 60px;
    }
    p{
        font-size: 30px;
    }
    .contact{
        border: none;
        border-radius: 30px;
        margin: 1%;
        padding: 5%;
        position: relative;
        width: auto;
        height: 600px;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
        border-radius: 25.3896px;
    
    }
    
    form button{
        margin-top: 70px;
        margin-left: 80%;
        border: none;
        border-radius: 20px;
        width: 170px;
        height: 40px;
        background-color: #D14A37;
        color: #FAFAFA;
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    form button:hover { 
        background-color: #000000;
        transform: scale(1.1); 
        color: #FFFFFF;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
    
    .forms input{
        font-size: large;
        border: none;
        height: 60px;
        background-color: #FAFAFA;
        background-color: #FAFAFA;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

   .forms input:focus {
    border-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    outline: none; 
   }

    .forms input:hover {
    border-color: #C74C31; 
   }
    .formss{
        display: grid;
        grid-template-columns: 100%
    }
    .forms{
        font-size: 30px;
        margin-top: 100px;
        display: grid;
        grid-template-columns:40% 40%;
        gap: 7%;
    }
    .desing{
        display: none;
    }
    .media img{
        width: 75%;
       
    }
    .item1, .item2, .item3{
        border: none;
        border-radius: 10px;
    }
    .media{
        margin-top: 100px;
        display: grid;
        grid-template-columns:auto auto;
        align-items: center;
        justify-items: center; 
        gap :5%
    }
    .item1,.item2, .item3{
        transition: transform 0.5s ease, box-shadow 0.5s ease;
    transform: scale(1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
     }

     .item1:hover, .item2:hover, .item3:hover {
        transform: scale(1.2); 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
    .insight {
        text-align: center;
        margin-bottom: 100px;
    }
    .item4, .item5, .item6 {
        border-radius: 10px;
        transition: background-color 0.5s ease, box-shadow 0.5s ease; 
        padding: 10px;   
    }
    .item4:hover, .item5:hover, .item6:hover {
        background-color: #D14A37;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    }
.item1{
    order: 1;
}
.item2{
    order: 4;
}
.item3{
    order: 5;
}
.item4{
    order: 2;
}
.item5{
    order: 3;
}
.item6{
    order: 6;
}
} 