     Section    
.header-cloud {
    position: absolute;
    z-index: -1;
    transform: translateX(-110%) 
    translateY(2rem) 
    scaleX(-1)
    rotate(6deg);
    animation: move-clouds 20s linear infinite;
}
.actionbar img:last-child{
    border-radius: 10px;
    width: 40px;
    object-fit: contain;
}
.header-cloud2 {
    position: absolute;
    z-index: -1;
    right: 0 ;
    transform: translateX(0%);
    animation: move-back-fords 20s infinite;
    opacity: 0.5;
}

.header-cloud3 {
    position: absolute;
    left: 0;
    z-index: -1;
    transform: translateX(100%);
    animation: move-back-fords2 15s infinite;
    opacity: 0.5;

}
.main-title{
    padding-inline: 2rem;
    color: var(--PrimaryColor);
    font-size: 3rem;
}
.description{
    font-size: 1.1rem;
    padding-inline: 3rem;
}


.header-plant {
    transform: translateZ(0px);
    animation: zoomin-clouds 1s forwards;
    animation-timeline: view(50vh 0px);
} */
 .navbar{
    display: block;
}

.plantblock{
    perspective: 100px;
    position: relative;
    top: 0;
    overflow: hidden;
}
.header-plantbg{
    position: absolute;
    top: 25%;
    left: calc(50% - 290px);
    z-index: -1;
}
.headercontent{
    background-color: transparent;
    z-index: -3;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.header-section{
    padding-inline: 1rem;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: all 4s;
}
nav{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding-block: 0.9rem;
}
nav ul{
    list-style: none;
    display: flex; 
    justify-content: center; 
    list-style-type: none; 
    height: 100%;
}
nav ul li{
    align-content: center;
    cursor: pointer;
    padding-inline: 1.5rem;
    position: relative;
    transition: all 0.2s;
}
nav ul li::before{
    content: " ";
    position: absolute;
    background-color: #2FAAE1;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    transition: all 0.3s;
}
nav ul li:hover{
    scale: 1.2;
}
nav ul li:hover::before{
    width: 100%;
}
nav a{
    text-decoration: none;
    color: var(--TitleColor);
}
nav img{
    height: var(--IconsImgSize);
}

.description{
    margin-bottom: 7rem ;
}
.header-langue{
    display: block;
} 
.performande-categories{
    box-sizing: content-box !important;
    background-color: #f7f7f763;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3rem;
    border-radius: 7px;
    box-shadow: 0px 10px 200px rgba(1, 23, 54, 0.1);
    padding-block: 1rem;
}
.pr_item{
    box-sizing: content-box !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-block: 1rem;
}
.performande-categories .pbuttonarea button{
    border: none;
    border-radius: 0.3rem;
    background-color: var(--SecondColor);
    color: #fff;
    padding-block: 0.6rem;
    width: 150px;
}
.pbuttonarea{
    grid-column: 4 span;
    display: flex;
    justify-content: center;
}


.squadtap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.capsulecart{
    border: 1px solid rgb(245, 245, 245);
    width: auto;
    background-color: #fff;
    border-radius: 50% 50% 100px 100px;
    display: grid;
    grid-template-rows: 1fr auto;
    box-shadow: 0px 10px 200px rgba(1, 23, 54, 0.082);
    position: relative;
}
.bgcapsule{
    position: absolute;
    top: 40px;
    left: -30px;
    right: -30px;
    width: 100%;
    z-index: -3;
}
.section-squadtap{
    padding-block: 100px;
}
.capsulecart img{
    width: 100%;
    height: 200px;
}
.squadcart{
    display: flex;
    justify-content: center;
}
.squadcartcontent{
    height: 150px;
    text-align: center;
    margin-top: 20px;
}
.squadcart-rightside{
    text-align: center;
    position: relative;
    padding-block: 30px;
    padding-inline: 30px;
}
.line1{
    position: absolute;
    top: 0;
    right: 0;
}
.line2{
    position: absolute;
    bottom: 0;
    left: 0;
}
.menuicon{   
    margin-right: 10px;
    font-size: 23px;
    color: #0b5679 ;
    display: none;
}

.squadcartcontent h2{
    font-size: 1.2rem;
}
.squadcartcontent span{
    font-size: 0.8rem;
    color: #18599C;
} 



@media (max-width: 1200px) {
    .header-plant {
        width: 100%;
        height: 50vh;
        object-fit: contain;
    }
    .actionbar nav ul{
        display: none;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 0.9rem;
    }
    .performande-categories{
        display: flex;
        box-shadow: none;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    .pr_item{
        width: 100%;
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 1;
        animation: scroll-animation 10s linear infinite;
    }
    .pbuttonarea button{
        display: none;
    }
    .squadtap{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .description{
        margin-bottom: 4rem;
    }
    .header-langue{
        display: none;
    }
    .line1 , .line2{
        display: none;
    }
    .menuicon{   
        display: block;
    }
    .section-squadtap{
        padding-block: 20px;
    }
    
    .squadcart-rightside{  
        text-align: center;
        position: static;   
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        margin-block: 30px;
        margin-inline: 30px;
        padding-inline: 0px;
        padding-block: 0px;
    }
    .squadcart-rightside .sp{
        flex: 1 0 100%;
        width: 100%;
        scroll-snap-align: start;
        margin-block: 2rem;
    }
    .capsulecart img{
        width: 100%;
        height: 150px;
    }
    .capsulecart{
        border: 1px solid rgb(245, 245, 245);
        width: auto;
        background-color: #fff;
        border-radius: 50% 50% 100px 100px;
        display: grid;
        grid-template-rows: 1fr auto;
        box-shadow: 0px 10px 200px rgba(1, 23, 54, 0.082);
        position: relative;
    }

    .squadcartcontent{
        height: 100px;
    }
    .squadcart-rightside::-webkit-scrollbar-thumb {
        background: #acc7f8b2;
        border-radius: 10px;
      }
      .header-cloud2 {
        opacity: 1;
    }
    .header-cloud3 {
        opacity: 1;
    }
} 


/*      slider panel    */

.togglepanel{
    position: fixed;
    inset: 0;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 70%;
    display: none;
}
.poppupDiyalog{
    grid-row: 2;
    border-radius: 20px 20px 0px 0px;
    background-color: rgba(255, 255, 255, 0.377);
    backdrop-filter: blur(10px);
    border: 1px solid #000000;
    z-index: 3;

}
.poppupDiyalog .popupbar{
    background-color: #000000;
    border-radius: 52px;
    height: 5px;
    width: 25%;
    display: flex;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.poppupDiyalog ul{
    display: grid;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 60%;
}
.exitdialog{
    background-color: #19678bb2;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}
.poppupDiyalog ul li a{
   text-decoration: none;
   color: #18599C;
   font-weight: 800;
}
.emptydialogspace{
    background-color: rgba(66, 66, 66, 0.219);    
    position: relative;
}
.emptydialogspace::after{
    content: "";
    position: absolute;
    bottom :-30px; 
    width: 100%;
    height: 30px;
    background-color: rgba(66, 66, 66, 0.219); 
}
/*      Animations     */

 @keyframes zoomin-clouds {
    0% {
        transform: translateZ(200px);
    }
    100% {
        transform: translateZ(0px);
    }
}
@keyframes move-clouds {
    0% {
        transform: translateX(-110%) 
        translateY(2rem) scaleX(-1) rotate(6deg);
    }
    100% {
        transform: translateX(110%) translateY(2rem)
         scaleX(-1)  rotate(6deg);
    }
}
@keyframes move-back-fords {
    0% {
        transform: translateX(50%); 
    }
    50%{
        transform: translateX(40%); 
    }
    100% {
        transform: translateX(60%);
    }
}
@keyframes move-back-fords2 {
    0% {
        transform: translateX(0%); 
    }
    100%{
        transform: translateX(20%); 
    }

}
@keyframes scroll-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(4 * -100%));
    }
}