
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping Pro', sans-serif;
} */

/*      Slider     */
 .slide-container {
    display: flex;
    gap: 12px;
    margin: 15px auto;
    padding: 30px;
    width: 100%;
    width: 80%;
    border-radius: 50px;
    scroll-snap-type: x mandatory;
    scroll-padding: 20px;
    overflow: scroll;
}

.slide-container .card {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #fff;
    scroll-snap-align: start;
    border-radius: 50px;
}

.card .image {
    height: 280px;
    width: 280px;
    padding: 4px;
    object-fit: cover;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.card h2 {
    margin-top: 25px;
    color: #18599C;
    font-size: 22px;
    font-weight: 600;
}

.card {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(87, 86, 86);
    text-align: center;
} */

/*      Counting-numbers     */
 .num-count {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    align-content: center;
    margin-top: 50px;
    height: 150px;
}
  
.num-count .num {
    background: #F4F4F4;
    color: #18599C;
    height: 80px;
    align-content: center;
    text-align: center;
    border-radius: 50px;
}
  
.num-count p {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(87, 86, 86);
    text-align: center;
} 